@page
@model BookHavenWebApp.Pages.AccessDeniedModel
@{
}

<div class="text-center mt-5 p-5">
    <h1 class="display-3 mb-4">Ooops 🙁</h1>
    <p class="display-6">
        You are not <strong>authorized</strong> to
        access this page.
    </p>
</div>
