@page
@model BookHavenWebApp.Pages.EditProfileModel
@{
}


<div class="container mt-5 p-5">
    <h2>Edit Profile</h2>
    <hr>

    <div class="row">
        <div class="col-md-8">
            <form method="post" asp-page-handler="ChangeDetails">
                <div class="mb-3">
                    <label for="FirstName" class="form-label">First Name</label>
                    <input type="text" id="FirstName" name="NewFirstName" class="form-control" asp-for="NewFirstName">
                    <span asp-validation-for="NewFirstName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="LastName" class="form-label">Last Name</label>
                    <input type="text" id="LastName" name="NewLastName" class="form-control" asp-for="NewLastName">
                    <span asp-validation-for="NewLastName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="Email" class="form-label">Email</label>
                    <input type="email" id="Email" name="Email" class="form-control" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success mt-3">
                    @TempData["SuccessMessage"]
                </div>
            }
        </div>
    </div>
</div>
